body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 550px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.display {
  border-radius: 10px;
  display: flex;
  width: 480px;
  height: 530px;
  background-color: rgb(174, 187, 198);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(39, 39, 39);
  font-size: large;
}

.bd {
  font-weight: bold;
  font-size: x-large;
}
